.row{
    width: 100%;
    height: 100vh;
}
@media screen and (max-width: 850px) {
    .row {
      margin-left: 3px;
    }
  }

  #quote-box{
      width: 600px;
      max-height: 500px;
      background-color: #fff;
      border-radius: 10px;

  }
  .btn{
      color: #fff;
  }